<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body> 

<div id="header">

<h1>Book now for Singapore!</h1>
</div>

<div id="nav">
    <br><b><a href="Index.html">Home</a></b></br>
    <br><a href="Gallery.html">Photos</a></br>
    <br><a href="Booking.html">Book now!</a></br>
    <br><a href="Currency.html">Currency Converter</a></br>
<br>
<br>

<a href="http://www.accuweather.com/en/sg/singapore/300597/weather-forecast/300597" class="aw-widget-legal">
<!--
By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
-->
</a><div id="awcc1445349060267" class="aw-widget-current"  data-locationkey="300597" data-unit="c" data-language="en-us" data-useip="false" data-uid="awcc1445349060267"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
</div>

<div id="section">
<h2>Some background</h2>
<p>
Singapore, an island city-state off southern Malaysia, is a global financial centre with a tropical climate and multicultural population. In circa-1820 Chinatown stands the red-and-gold Buddha’s Tooth Relic Temple, Little India offers colorful souvenirs and Arab Street is lined with fabric shops. 
</p>
<p>
Singapore is also known for eclectic street fare, served in hawker centres such as Tiong Bahru and Maxwell Road.
</p>
<p>
<b>Economy Fares from Heathrow to Singapore are from <u>£631</u></b> (inc tax).<br> <br>
<b>Business Fares from Heathrow to Singapore are from <u>£1388</u></b> (inc tax)
<br>
<br>
Singapore is <b>8 hours ahead of Greenwich Mean Time</b>
<br>12:00 Tuesday, in Greenwich Mean Time is
20:00 Tuesday, Singapore <b>(GMT+8)</b>
</p>
</div>
<img src="singaporemap.png" height="340" width="440" border="5">

<div id="footer">
Copyright © Anand Patel's Amazing Web Development LTD
</div>

</body>
</html>
