<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Solitare</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/Currency/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
p.padding {
    padding-left: 14%;
}

p.padding2 {
    padding-left: 50%;
}
</style>
</head>

<body>
<body background="static/tmpbg.gif">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Solitare</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                <li>
                    <a href="portfolio.html">Home</a>
                </li>
                <li>
                    <a href="Index.html">index</a>
                </li>
                <li>
                    <a href="Gallery.html">Gallery</a>
                <li>
                    <a href="http://www.booking.com/index.html?label=gen173nr-1FCAEoggJCAlhYSDNiBW5vcmVmaFCIAQGYATG4AQzIAQzYAQHoAQH4AQKoAgM;sid=7f9176e24d75657470a2ba71b70e3e79;dcid=4;bb_ltbi=0&sb_price_type=total&">Book now!</a>
                </li>
                <li>
                    <a href="https://wikileaks.org/ciav7p1/cms/index.html">4349415f4c65616b65645f496e666f</a>
				</li>
				<li>
                    <a href="formulas.html">Python equations</a>
                </li>
				<li>
					<a href="rpg.html">rpg</a>
				</li>
                </ul>
				
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
	<div>


	
    <div class="container">
	<p class="padding"><img  src="/static/wip.gif" align="middle"></p>
	
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Work in progress solitare game</h1>
                <p class="lead">Press the button to refresh the table</p>
                <ul class="list-unstyled">
                    <li>Patience is bitter, but its fruit is sweet.</li>
                    <li>-Jean-Jacques Rousseau</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!--<p id='ustobrit'></p>
    <!--<p id="Currency"></p>-->

	<p id="cards"> </p>


    <script type='text/JavaScript'> 
    //var Currency = prompt("Currency")
    //document.getElementById('ustobrit').innerHTML='USD to British Pound'
    //document.getElementById("Currency").innerHTML=  Currency*1.45

    </script>
    <!-- jQuery Version 1.11.1 -->
    <script src="static/Currency/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/Currency/js/bootstrap.min.js"></script>


  <title>JavaScript Card Game | The Art of Web</title>
 

<button onclick="myFunction()">Click me</button>

<table style="width:100%">
  <tr>
    <td><img id="ItemPreview1" src="" height="150" width="100"/></td>
    <td><img id="ItemPreview2" src="" height="150" width="100"/></td>		
    <td><img id="ItemPreview3" src="" height="150" width="100"/></td>
	<td><img id="ItemPreview4" src="" height="150" width="100"/></td>
    <td><img id="ItemPreview5" src="" height="150" width="100"/></td>		
    <td><img id="ItemPreview6" src="" height="150" width="100"/></td>
	<td><img id="ItemPreview7" src="" height="150" width="100"/></td>
</table>

<script>
function myFunction() {
lst=["H","D","C","S"] //HEARTS DIAMONDS CLUBS SPADES

document.getElementById("ItemPreview1").src = "static/cards/"+ (1+parseInt((Math.random() * 10), 10)).toString()+lst[(parseInt((Math.random() * 4), 10))]+".png";
document.getElementById("ItemPreview2").src = "static/cards/"+ (1+parseInt((Math.random() * 10), 10)).toString()+lst[(parseInt((Math.random() * 4), 10))]+".png";
document.getElementById("ItemPreview3").src = "static/cards/"+ (1+parseInt((Math.random() * 10), 10)).toString()+lst[(parseInt((Math.random() * 4), 10))]+".png";
document.getElementById("ItemPreview4").src = "static/cards/"+ (1+parseInt((Math.random() * 10), 10)).toString()+lst[(parseInt((Math.random() * 4), 10))]+".png";
document.getElementById("ItemPreview5").src = "static/cards/"+ (1+parseInt((Math.random() * 10), 10)).toString()+lst[(parseInt((Math.random() * 4), 10))]+".png";
document.getElementById("ItemPreview6").src = "static/cards/"+ (1+parseInt((Math.random() * 10), 10)).toString()+lst[(parseInt((Math.random() * 4), 10))]+".png";
document.getElementById("ItemPreview7").src = "static/cards/"+ (1+parseInt((Math.random() * 10), 10)).toString()+lst[(parseInt((Math.random() * 4), 10))]+".png";

}
</script>







  <link rel="stylesheet" type="text/css" href="css-animation.css">

<body>

<div id="stage"><!-- --></div>

<script type="text/javascript" src="css-animation2.js"></script>
<script type="text/javascript">
  var game = new CardGame("stage");
</script>

</body>


</div>

</body>

</html>
