<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body> 
<div id="header">


<h1>Converter</h1>
</div>

<div id="nav">
    <br><a href="Index.html">Home</a></br>
    <br><a href="Gallery.html">Photos</a></br>
    <br><a href="Booking.html">Book now!</a></br>
    <br><b><a href="Currency.html">Currency Converter</a></b></br>
</div>
<div id="section">
<p>
1 Singapore Dollar equals
0.46 British Pound <br>
1 Singapore Dollar equals
0.71 US Dollar
<!-- FXEXCHANGERATE.COM EXCHANGE RATE CONVERTER START --><div style="width:468px;height:90px;border:1px solid #00CCFF;background-color:#ACEEFC;"><div style="background-color:#00CCFF;height:18px;text-align:left;width:464px; margin:2px 0px 0px 2px;"><a target="new" style="color:#FFFFFF;font-size:14px;font-weight:Bold;font-family:arial; text-decoration:none;padding-left:5px;" href="http://www.fxexchangerate.com/">Currency Converter</a></div><script type="text/javascript">var fm="GBP";var ft="SGD";var hb="00CCFF";var hc="FFFFFF";var bb="ACEEFC";var bo="00CCFF";var tz="timezone";var wh="468x90";var lg="en";</script><script type="text/javascript" src="http://www.fxexchangerate.com/converter.php"></script></div><!-- FXEXCHANGERATE.COM  EXCHANGE RATE CONVERTER END -->
<button onclick="myFunction()">Checkout</button>

<script>
function myFunction() {
    alert("Thank you for purchasing with us, you singapore dollars will come in the post within the following days :)");
}
</script>
</p>
</div>
<div id="footer">
Copyright © Anand Patel's Amazing Web Development LTD
</div>


</div>
</body>
</html>
