<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body> 

<div id="header">

<h1>Stunning Singapore</h1>
</div>

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Singapore</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Menu
                    </a>
                </li>
                <li>
                    <a href="Index.html">Home</a>
                </li>
                <li>
                    <a href="Gallery.html">Gallery</a>
                <li>
                    <a href="http://www.booking.com/index.html?label=gen173nr-1FCAEoggJCAlhYSDNiBW5vcmVmaFCIAQGYATG4AQzIAQzYAQHoAQH4AQKoAgM;sid=7f9176e24d75657470a2ba71b70e3e79;dcid=4;bb_ltbi=0&sb_price_type=total&">Book now!</a>
                </li>
                <li>
                    <a href="Currency.html">Currency Converter</a>
        </div>

        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Some background</h2>
<p>
Singapore, an island city-state off southern Malaysia, is a global financial centre with a tropical climate and multicultural population. In circa-1820 Chinatown stands the red-and-gold Buddha’s Tooth Relic Temple, Little India offers colorful souvenirs and Arab Street is lined with fabric shops. 
</p>
<p>
Singapore is also known for eclectic street fare, served in hawker centres such as Tiong Bahru and Maxwell Road.
</p>
<p>
Singapore is a global commerce, financial and transportation hub. Its standings include: "Easiest place to do business" (World Bank) for ten consecutive years, most "Technology-ready" nation (EIU), top "International meetings city" (UIA), city with "Best investment potential" (BERI), 2nd-most competitive country (WEF), 3rd-largest foreign exchange centre, 4th-largest financial centre, 3rd-largest oil refining and trading centre and one of the top two busiest container ports since the 1990s. Singapore's best known global brands include Singapore Airlines and Changi Airport, both amongst the most-awarded in their industry; SIA is also rated by Fortune surveys as Asia's "most admired company". For the past decade, it is the only Asian country with the top AAA sovereign rating from all major credit rating agencies, including S&P, Moody's and Fitch.
</p>
<p>
<b>Economy Fares from Heathrow to Singapore are from <u>£631</u></b> (inc tax).<br> <br>
<b>Business Fares from Heathrow to Singapore are from <u>£1388</u></b> (inc tax)
<br>
<br>
Singapore is <b>8 hours ahead of Greenwich Mean Time</b>
<br>12:00 Tuesday, in Greenwich Mean Time is
20:00 Tuesday, Singapore <b>(GMT+8)</b>
</p>

<img src="/static/singaporemap.png" height="340" width="440" border="5">


                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
<div id="footer">
Copyright © Anand Patel's Amazing Web Development LTD
</div>
<a href="http://www.accuweather.com/en/sg/singapore/300597/weather-forecast/300597" class="aw-widget-legal">
<!--
By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
-->
</a><div id="awcc1445349060267" class="aw-widget-current"  data-locationkey="300597" data-unit="c" data-language="en-us" data-useip="false" data-uid="awcc1445349060267"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
</div>



</body>
</html>
