{% extends "base.html" %}
{%block content%}
<!--
 <form method="POST" class="post-form">{% csrf_token %}
        <table>
			{{ form.as_table }}
		</table>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
-->
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<input id="search-text" />


<script type="text/javascript">
$(document).ready(function(){
var change = $("#pivx_percent_change");
var str = change.text(); 
var res = str.replace("(",'');
var res = res.replace(")",'');
var res = res.replace("%",'');

var change2 = $("#btc_percent_change");
var str2 = change2.text(); 
var res2 = str2.replace("(",'');
var res2 = res2.replace(")",'');
var res2 = res2.replace("%",'');

var change3 = $("#rise_percent_change");
var str3 = change3.text(); 
var res3 = str3.replace("(",'');
var res3 = res3.replace(")",'');
var res3 = res3.replace("%",'');

var change4 = $("#ark_percent_change");
var str4 = change4.text(); 
var res4 = str4.replace("(",'');
var res4 = res4.replace(")",'');
var res4 = res4.replace("%",'');

var change5 = $("#dash_percent_change");
var str5 = change5.text(); 
var res5 = str5.replace("(",'');
var res5 = res5.replace(")",'');
var res5 = res5.replace("%",'');

var change6 = $("#ethereum_percent_change");
var str6 = change6.text(); 
var res6 = str6.replace("(",'');
var res6 = res6.replace(")",'');
var res6 = res6.replace("%",'');
if(res<0){

	$("#pivx_percent_change").css('color','red');
}
if(res2<0){

	$("#btc_percent_change").css('color','red');
}
if(res3<0){

	$("#rise_percent_change").css('color','red');
}
if(res4<0){

	$("#ark_percent_change").css('color','red');
}
if(res5<0){

	$("#dash_percent_change").css('color','red');
}
if(res6<0){

	$("#ethereum_percent_change").css('color','red');
}
});

coins = ['pivx','btc','rise','ark','dash','ethereum']

$("#search-text").on('keyup',function(){

	$(this).css('background-color','lightblue');
	var user_input = $(this).val();
	var index = $.inArray(user_input.toLowerCase(), coins);
	console.log(index);
	console.log(coins[index]);
	var match_id='#' + coins[index] + 'div';
	console.log(match_id);
	for (i=0;i<coins.length;i++){
		var coin_check = '#'+coins[i]+'div';
		console.log(coin_check);
		if(coin_check != match_id && index != -1){
				$(coin_check).hide();
		}
		else if (index == -1){
			$(coin_check).show();
			$(this).css('background-color','white');
		}
	}	
});

</script>

<br>
<br>

<div class="w3-card-4 w3-hover-opacity" id="pivxdiv">
	<h1 class="w3-container w3-blue"><b>PIVX</b></h1>

	<div class="w3-container">
  		<h2 style="font-family:Sans-serif">{{pivx_price}}</h2>
 		<p id='pivx_percent_change' style="font-family:Sans-serif;color:green;text-align:right">{{pivx_percent_change}}</p>
	</div>

	<footer class="w3-container w3-blue">
		<p>Private Instant Verified Transaction</p>
	</footer>
</div>

<br>
<br>

<div class="w3-card-4 w3-hover-opacity" id="btcdiv">
	<h1 class="w3-container w3-blue"><b>BTC</b></h1>

	<div class="w3-container">
		<h2 style="font-family:Sans-serif;">{{btc_price}}</h2>
		<p id='btc_percent_change' style="font-family:Sans-serif;color:green;text-align:right">{{btc_percent_change}}</p>
	</div>

	<footer class="w3-container w3-blue">
		<p>Bitcoin</p>
	</footer>
</div>

<br>
<br>

<div class="w3-card-4 w3-hover-opacity" id="risediv">
	<h1 class="w3-container w3-blue"><b>RISE</b></h1>

	<div class="w3-container">
		<h2 style="font-family:Sans-serif;">{{rise_price}}</h2>
		<p id='rise_percent_change' style="font-family:Sans-serif;color:green;text-align:right">{{rise_percent_change}}</p>
	</div>

	<footer class="w3-container w3-blue">
		<p>Rise</p>
	</footer>
</div>

<br>
<br>

<div class="w3-card-4 w3-hover-opacity" id="arkdiv">
	<h1 class="w3-container w3-blue"><b>ARK</b></h1>

	<div class="w3-container">
		<h2 style="font-family:Sans-serif;">{{ark_price}}</h2>
		<p id='ark_percent_change' style="font-family:Sans-serif;color:green;text-align:right">{{ark_percent_change}}</p>
	</div>

	<footer class="w3-container w3-blue">
		<p>Ark</p>
	</footer>
</div>

<br>
<br>

<div class="w3-card-4 w3-hover-opacity" id="dashdiv">
	<h1 class="w3-container w3-blue"><b>DASH</b></h1>

	<div class="w3-container">
		<h2 style="font-family:Sans-serif;">{{dash_price}}</h2>
		<p id='ark_percent_change' style="font-family:Sans-serif;color:green;text-align:right">{{dash_percent_change}}</p>
	</div>

	<footer class="w3-container w3-blue">
		<p>Dash</p>
	</footer>
</div>

<br>
<br>

<div class="w3-card-4 w3-hover-opacity" id="ethereumdiv">
	<h1 class="w3-container w3-blue"><b>ETH</b></h1>

	<div class="w3-container">
		<h2 style="font-family:Sans-serif;">{{ethereum_price}}</h2>
		<p id='ark_percent_change' style="font-family:Sans-serif;color:green;text-align:right">{{ethereum_percent_change}}</p>
	</div>

	<footer class="w3-container w3-blue">
		<p>Ethereum</p>
	</footer>
</div>
{%endblock%}