{% extends "base.html" %}
{%block content%}
<!--
 <form method="POST" class="post-form">{% csrf_token %}
        <table>
			{{ form.as_table }}
		</table>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
-->
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>




<script type="text/javascript">
$(document).ready(function(){
var change = $("#percent_change");
var str = change.text(); 
var res = str.replace("(",'');
var res = res.replace(")",'');
var res = res.replace("%",'');

var change2 = $("#percent_change2");
var str2 = change2.text(); 
var res2 = str2.replace("(",'');
var res2 = res2.replace(")",'');
var res2 = res2.replace("%",'');

if(res<0){
	$("#percent_change").css('color','red');	
}});
</script>

<br>
<br>

<div class="w3-panel w3-light-grey w3-leftbar w3-dark-grey w3-hover-opacity">
<h1>PIVX</h1>
<h1 style="font-family:Sans-serif">{{pivx_price}}</h1>
<p id='pivx_percent_change' style="font-family:Sans-serif;color:green">{{pivx_percent_change}}</p>
</div>

<br>
<br>

<div class="w3-panel w3-pale-blue w3-leftbar w3-border-blue w3-hover-opacity">
<h1>BTC</h1>
<h1 style="font-family:Sans-serif;">{{btc_price}}</h1>
<p id='percent_change2' style="font-family:Sans-serif;color:green;align:right">{{btc_percent_change}}</p>
</div>


{%endblock%}